In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv', encoding='cp949')
data

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 3시간 신적설(cm),평균 지면온도(°C)
0,90,속초,2018-05-01,13.4,9.3,18.4,0.6,1.2,85.1,NaN,18.5
1,90,속초,2018-05-02,9.7,5.5,13.5,16.6,2.6,89.0,NaN,12.2
2,90,속초,2018-05-03,11.0,5.2,15.2,0.6,2.7,57.5,NaN,9.3
3,90,속초,2018-05-04,18.1,11.8,23.4,NaN,4.8,28.6,NaN,16.4
4,90,속초,2018-05-05,22.2,16.1,27.1,NaN,3.7,34.3,NaN,21.3
...,...,...,...,...,...,...,...,...,...,...,...
250385,296,북부산,2025-06-26,24.1,18.5,30.5,NaN,2.0,75.1,NaN,26.1
250386,296,북부산,2025-06-27,26.3,20.6,31.2,NaN,1.7,71.3,NaN,28.2
250387,296,북부산,2025-06-28,26.8,21.9,31.3,NaN,2.0,80.1,NaN,29.4
250388,296,북부산,2025-06-29,27.6,23.4,31.5,NaN,2.0,80.0,NaN,30.1
250389,296,북부산,2025-06-30,27.6,23.1,31.5,NaN,2.1,79.3,NaN,30.6

In [ ]:
data.isna().sum()

지점                     0
지점명                    0
일시                     0
평균기온(°C)             322
최저기온(°C)              68
최고기온(°C)              64
일강수량(mm)          155311
평균 풍속(m/s)           396
평균 상대습도(%)           522
합계 3시간 신적설(cm)    248831
평균 지면온도(°C)          397
dtype: int64

In [4]:
data['합계 3시간 신적설(cm)'].unique()

array([ nan,  8.5,  2.6,  1.6,  0. ,  3.4,  4. ,  0.3,  0.9,  0.5,  0.4,
        1.8,  0.2,  6.2,  0.1,  0.8,  3.1,  2.8,  1. ,  4.1,  2.5,  1.7,
        4.4,  4.5,  9.5,  2.9,  3.2,  1.5,  1.3,  6.1,  5.3,  4.6,  5. ,
        0.7,  0.6,  2. ,  3.8,  1.2,  7.5,  2.7,  2.2,  3.7,  7. ,  7.8,
        1.1,  2.1,  7.1,  5.2,  7.3,  5.1,  4.7,  3.3,  2.3,  5.5, 12.4,
       18.3,  1.4,  9. ,  3.6,  7.6,  6.5,  8.8, 10.4,  4.8, 11.2,  3.5,
        1.9, 17.1,  4.2,  3.9, 35.7, 12.9, 24.1,  4.9,  9.8, 15. , 27.7,
       11.1,  6. ,  7.9, 16.9, 11.6, 17.9, 13.5, 21.4,  3. , 12.3,  2.4,
        9.1, 23.4,  9.6,  6.4,  8.7,  4.3,  8.4,  8.9, 20.1, 10.6,  5.8,
       16.4, 12.5,  9.2, 11.3, 13.6, 11. , 26.3, 79. , 33.5, 30.4, 10.7,
       27.6, 12.8, 20. , 20.7, 27.3,  6.3, 11.5, 24.7,  9.4, 29. , 27.2,
        9.7,  6.8, 13.1, 29.2,  8.2, 71.5, 22.8,  8.6,  7.4, 14.4, 16.5,
       22.6, 23.9,  6.7,  9.3, 33.2, 18. ,  7.7, 18.5, 15.3,  5.4,  6.6,
       13.9,  7.2, 10.3, 36.5,  5.6, 36.8, 14.1,  5.7, 12.2, 14.8, 10.1,
       13.4, 25.9, 34. , 10.5,  8.3,  8. , 16. , 15.2,  8.1, 15.6, 19.5,
        6.9])

In [8]:
data['합계 3시간 신적설(cm)'] = data['합계 3시간 신적설(cm)'].fillna(0)

In [11]:
data.isna().sum()

지점                     0
지점명                    0
일시                     0
평균기온(°C)             322
최저기온(°C)              68
최고기온(°C)              64
일강수량(mm)          155311
평균 풍속(m/s)           396
평균 상대습도(%)           522
합계 3시간 신적설(cm)         0
평균 지면온도(°C)          397
dtype: int64

In [12]:
data['일강수량(mm)'] = data['일강수량(mm)'].fillna(0)

In [17]:
for col in data.columns:
    if type(data[col][0]) is str:
        continue

    data[col] = data[col].fillna(data[col].mean())

In [18]:
data.isna().sum()

지점                0
지점명               0
일시                0
평균기온(°C)          0
최저기온(°C)          0
최고기온(°C)          0
일강수량(mm)          0
평균 풍속(m/s)        0
평균 상대습도(%)        0
합계 3시간 신적설(cm)    0
평균 지면온도(°C)       0
dtype: int64

In [19]:
data

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 3시간 신적설(cm),평균 지면온도(°C)
0,90,속초,2018-05-01,13.4,9.3,18.4,0.6,1.2,85.1,0.0,18.5
1,90,속초,2018-05-02,9.7,5.5,13.5,16.6,2.6,89.0,0.0,12.2
2,90,속초,2018-05-03,11.0,5.2,15.2,0.6,2.7,57.5,0.0,9.3
3,90,속초,2018-05-04,18.1,11.8,23.4,0.0,4.8,28.6,0.0,16.4
4,90,속초,2018-05-05,22.2,16.1,27.1,0.0,3.7,34.3,0.0,21.3
...,...,...,...,...,...,...,...,...,...,...,...
250385,296,북부산,2025-06-26,24.1,18.5,30.5,0.0,2.0,75.1,0.0,26.1
250386,296,북부산,2025-06-27,26.3,20.6,31.2,0.0,1.7,71.3,0.0,28.2
250387,296,북부산,2025-06-28,26.8,21.9,31.3,0.0,2.0,80.1,0.0,29.4
250388,296,북부산,2025-06-29,27.6,23.4,31.5,0.0,2.0,80.0,0.0,30.1
250389,296,북부산,2025-06-30,27.6,23.1,31.5,0.0,2.1,79.3,0.0,30.6