In [5]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv', encoding='cp949')
data

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 3시간 신적설(cm),평균 지면온도(°C)
0,90,속초,2018-05-01,13.4,9.3,18.4,0.6,1.2,85.1,NaN,18.5
1,90,속초,2018-05-02,9.7,5.5,13.5,16.6,2.6,89.0,NaN,12.2
2,90,속초,2018-05-03,11.0,5.2,15.2,0.6,2.7,57.5,NaN,9.3
3,90,속초,2018-05-04,18.1,11.8,23.4,NaN,4.8,28.6,NaN,16.4
4,90,속초,2018-05-05,22.2,16.1,27.1,NaN,3.7,34.3,NaN,21.3
...,...,...,...,...,...,...,...,...,...,...,...
250385,296,북부산,2025-06-26,24.1,18.5,30.5,NaN,2.0,75.1,NaN,26.1
250386,296,북부산,2025-06-27,26.3,20.6,31.2,NaN,1.7,71.3,NaN,28.2
250387,296,북부산,2025-06-28,26.8,21.9,31.3,NaN,2.0,80.1,NaN,29.4
250388,296,북부산,2025-06-29,27.6,23.4,31.5,NaN,2.0,80.0,NaN,30.1
250389,296,북부산,2025-06-30,27.6,23.1,31.5,NaN,2.1,79.3,NaN,30.6

In [ ]:
data.isna