In [2]:
import pandas as pd

# 시리즈 생성
sr_1 = pd.Series([1, 2, 3, 4, 5, 6], name="name?")
sr_1

0    1
1    2
2    3
3    4
4    5
5    6
Name: name?, dtype: int64

In [4]:
# 데이터 프레임 생성
df_1 = pd.DataFrame({ 'id': [1, 2, 3], 'num' : [11, 22, 33]})
df_1

   id  num
0   1   11
1   2   22
2   3   33

In [7]:
# 속성 값 조회
sr_1[1]
df_1['id']
df_1['id'][0]

np.int64(1)